{% extends "template.html.j2" %}
{% block head_extra %}
    <link rel="stylesheet" href="{{url_for('static', filename='styles/index.css')}}">
    {% endblock %}
{% block main %}
    <section>
        <h2>Recipe Browser</h2>
        <section class="text-container">
            <p>Search for a meal to check stock and recipe. {% if loggedin %} Any ingredients out of stock will be highlighted.{% endif %}</p>
        </section>
        <section id="search">
             <input type="text" placeholder="menu item here...">
             <button type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
        </section>
    </section>
{% endblock %}