<!DOCTYPE html>

<html lang="en">

    <head>
        <title>{% if title is defined %}{{title}} - {% endif %}SD Kitchen</title>

        <meta charset="utf-8">
        <meta name="description" content="{{ description }}">
        <meta name="author" content="Emily Evers">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static', filename='template.css')}}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

        {% block head_extra %}{% endblock head_extra %}
    </head>

    <body>
        <section class="user-header">
            <section class="user-header-container">
                <section class="user-actions">
                    <a href="#">Login</a>
                    <span class="list-seperator">|</span>
                    <a href="#">Signup</a>
                </section>
            </section>
        </section>
        <header>
            <section class="header-container">
                <h1><a href="{{url_for('pages.index')}}">SD Kitchen</a></h1>
                <nav>
                    <a href="{{url_for('pages.index')}}"><p>Home</p></a>
                    <a href="#"><p>Stock</p></a>
                    {# <a href="{{url_for('pages.about')}}"><p>About</p></a> #}
                </nav>
            </section>
        </header>

        <main>
            <section class="main-container">
                {% block main %}{% endblock %}
            </section>
        </main>
        <footer></footer>
    </body>
</html>