<!DOCTYPE html>

<html>

    <head>
        <title> {{ title }} - SD Kitchen </title>
        
        <meta charset="utf-8">
        <meta name="description" content="{{ description }}">
        <meta name="author" content="Emily Evers">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block head_extra %}{% endblock head_extra %}
    </head>

</html>